.Dashboard {
  width: 100%;
  height: 100%;
}

.DashboardContent {
  width: inherit;
  height: max-content;
  display: flex;
  flex-direction: column;
  margin: 2rem 0 2rem 0;
  align-items: center;
}

.LandingCard {
  height: inherit;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardGroup {
  
}


.MedicationsWrapper {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

// @media only screen and (max-width: 800px) and (min-width: 300px) {
//   .MedicationsWrapper {
//     width: 100%;
//     height: 100vh;
//     display: flex;
//     text-align: center;
//     flex-direction: column;
//   }
// }
