.MedWrapper {
  // width: 50%;
  // height: 100vh;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // padding: 2rem;
}

.MedWrapper {
  width: 100%;
  height: fit-content;
}

.AddNewMedWrapper {
  margin: 0 0 0 2rem;
}

.HeaderTitle {
  display: flex;
  margin: 1rem 0 0.5rem 1rem;
  align-items: center;
}

.InputContainer {
  width: 400px;
  // height: 500px;
  background-color: #edf0f5;
  // display: flex;
  // border-radius: 2.5rem;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  border-radius: 2.5rem;
  -webkit-border-radius: 2.5rem;
  -moz-border-radius: 2.5rem;
  -ms-border-radius: 2.5rem;
  -o-border-radius: 2.5rem;
}
.InputDosage {
}

// @media only screen and (max-width: 500px) and (min-width: 300px) {
//   .MedWrapper {
//     text-align: center;
//   }

//   .HeaderTitle {
//     display: flex;
//     margin: 1rem 0 0.5rem 1rem;
//     justify-content: center;
//     align-items: center;
//   }

//   .AddNewMedWrapper {
//     width: 350px;
//     height: 55vh;
//   }
// }
