* {
  /* display: flex;  */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: transparent;
  /* justify-content: center;
  align-items: center; */
  /* width: 100%;
  height: 100vh; */
}