/* input[type='text'], [type="datetime-local"], Select{
    border-radius: 25px;
    border: 1px solid black;
    height: 30px;
    font-size: 25px;
} */

input
{
    background-color: white;
}

/* input:focus
{
    background-color: cornsilk;
} */

/* input[type='radio']
{
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid blue;
    transition: 0.2s all linear;
    position: relative;
    vertical-align: middle;
    /* top: 4px; */
/* } */

input[type="submit"] {
    border-radius: 25px;
    padding: 8px;
    font-size: inherit;
    font-family: inherit;
}

form div {
    margin-bottom: 15px;
}

form fieldset {
    border-radius: 25px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 15px;
}

form legend {
    margin-left: 25px;
    text-transform: uppercase;
    font-weight: bold;
}