img.levelupmedslogo{
    width: 40px;
    height: 40px;
}


.rightbuttons {
    float: right;
    width:120px;
}

.navbar {
    position:relative;
    width: 100%;
}

.contentSection {
    margin: 0 auto;
    background-color: white;
    height: 2000px;
}

.contentSection img{
    margin: 0 auto;
}

h3, h5 {
    margin: 0 auto;
    width:70%;
}


body {
    margin: 0 auto;
}
